.background {
  background-color: rgb(49, 49, 49);
}

.text {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.title-text {
  color: steelblue;
  text-align: center;
  font-size: 60px;
  font-family: "Raleway", sans-serif;
}

.subtitle-text {
  color: rgb(47, 90, 124);
  text-align: center;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}

.login-text {
  color: white;
  font-size: 20px;
}

.pad {
  padding-bottom: 25px;
  padding-top: 25px;
}

.bottom {
  padding-bottom: 50px;
}

.jumbotron {
  background-color: rgb(255, 255, 255);
}
