.background {
  background-color: rgb(49, 49, 49);
}

.text {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: auto;
  font-family: "Raleway", sans-serif;
}

.title-text {
  color: steelblue;
  text-align: center;
  font-size: 60px;
  font-family: "Raleway", sans-serif;
}

.subtitle-text {
  color: rgb(47, 90, 124);
  text-align: center;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}

.login-text {
  color: white;
  font-size: 20px;
}

.pad {
  padding-bottom: 25px;
  padding-top: 25px;
}

.pad-top {
  padding-top: 25px;
}

.bottom {
  padding-bottom: 50px;
}

.jumbotron {
  background-color: rgb(255, 255, 255);
}

table {
  border-radius: 6px; 
  background-color: white;
  table-layout: fixed;
}

.table-title-text{
  color: white;
}

tr:first-child {
  background-color: #FF0000;
}

tr:nth-child(odd) {
  background-color: #e3e3e3;
}

th {
  text-align:center;
}

tr {
  text-align:center;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px; 
  background-color: white;
  width: 60%;
  table-layout: fixed;
}

.search-center {
  margin-left: 22%;
  margin-right: auto;
  position: relative;
  top: 10px;
  width:40px;
  height:50px;
  display: inline-block;
}

.page-nums {
  color:rgb(48, 125, 246);
  display: inline-block;
  margin-left: 70%;
  margin-right: auto;
  position: relative;
  display: inline-block;
}

.submit-mag {
  position: relative;
  display: inline-block;
}

.buttonLogout {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px black;
}

.buttonLogout:hover {background-color: darkred}

.buttonLogout:active {
  background-color: darkred;
  box-shadow: 0 2px black;
  transform: translateY(4px);
}